body {
    background-color: darkblue;
    color: white;
}

.header-link {
    margin-right: 2rem;
    color: cyan;
    text-decoration: none;
}

.active {
    padding: 5px;
    color: white;
    background-color: black;
}

img {
    aspect-ratio: 1;
}
